//
// Breakpoint Indicator
// --------------------------------------------------
// An element that changes z-index when a breakpoint is crossed
// Used in conjunction with /scripts/utiities/BreakpointChange.js


#breakpoint-indicator {
	width: 1px;
	height: 1px;
	position: fixed;
	left: -1px;
	top: -1px;
	z-index: 1; // default xs / Mobile

	// sm / Tablet+
	@media (min-width: $screen-sm-min) {
		z-index: 2;
	}

	// md / Desktop+
	@media (min-width: $screen-md-min) {
		z-index: 3;
	}

	// lg / Widescreen+
	// @media (min-width: $screen-lg-min) {
	// 	z-index: 4;
	// }

}
