//
// Chrome
// --------------------------------------------------


$site-min-width: 360px;


html {
	min-height: 100%;
	position: relative;
}

body {
	padding-top: 80px;
	padding-bottom: 120px;
}


#header {
	min-width: $site-min-width;

	> .container {
		padding: 20px 15px;
		> p {
			margin: 0;
		}
	}

}


#footer {
	min-width: $site-min-width;
	position: absolute;

	> .container {
		padding: 20px 15px;
		> p {
			margin: 0;
		}
	}

}


#main {
	min-width: $site-min-width;
}
