
html {
	min-height: 100%;
	position: relative;
}

body {
	padding-top: 80px;
	padding-bottom: 80px;
}


#header {
	min-width: $screen-xs-min;

	> .container {
		padding: 20px 15px;
		> p {
			margin: 0;
		}
	}

}


#footer {
	min-width: $screen-xs-min;
	position: absolute;

	> .container {
		padding: 20px 15px;
		> p {
			margin: 0;
		}
	}

}


#main {
	min-width: $screen-xs-min;
}

