//
// Utilities
// --------------------------------------------------


.clear {
	clear: both;
}

.block {
	display: block;
}

.inline {
	display: inline;
}

.offscreen {
	display: block;
	position: fixed;
	left: -9999px;
}
